@import '../variable.scss';
@import '../mixins.scss';

.comingSoon{
    display: flex;
    padding: 0 $mainPadding 0 0;
    &_info{
        flex: 1 1;
        // background-image: url('images/comingSoonVector.svg');
        background-repeat: no-repeat;
        background-size: cover;
        padding: 48px 24px 0 $mainPadding;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        form{
            display: flex;
        }
        @include media(1650px) {
            padding: 43px 24px 0 $smallPadding;
        }
        @include media(1500px) {
            padding: 38px 24px 0 $tabletPadding;
        }
        @include media(1200px) {
            padding: 22px 24px 0 $mainPadding;
        }
        @include media(992px) {
            padding: 20px;
        }
    }
    &_logo{
        width: 206px;
        height: 87px;
        margin-bottom: 15px;
        @include media(1500px) {
            width: 149px;
            height: 63px;
        }
    }
    &_text{
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;        
        letter-spacing: 0.02em;
        background: linear-gradient(90deg, #CF445E 0%, #7C104A 99.89%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        margin-bottom: 8px;
        @include media(1500px) {
            font-size: 16px;
        }
    }
    &_title{
        font-weight: 700;
        font-size: 48px;
        line-height: 64px;
        letter-spacing: 0.02em;
        margin: 0 0 35px 0;

        @include media(1500px) {
            font-size: 40px;
            line-height: 56px;
        }
        
        @include media(1200px) {
            font-size: 32px;
            line-height: 48px;
        }
    }
    &_desc{
        font-weight: 350;
        font-size: 16px;
        line-height: 24px;        
        letter-spacing: 0.02em;
        color: $textColor;
        margin-bottom: 32px;
        @include media(1500px) {
            font-size: 14px;
        }
    }
    &_social{
        display: flex;
        gap: 15px;
        margin: 15px 0;
    }
    &_footer{
        display: flex;
        gap: 40px;
        &>div{
            flex: 1 1;
        }   
        &--title{
            font-weight: 600;
            font-size: 20px;
            line-height: 30px;            
            letter-spacing: 0.02em;            
            color: $primaryColorOpocity;
            margin-bottom: 8px;
        }
        &--info{
            font-weight: 350;
            font-size: 16px;
            line-height: 24px;            
            letter-spacing: 0.02em;            
            color: #0C0710;
            display: flex;
            align-items: center;
            gap: 5px;
        }
        @include media(768px){
            flex-direction: column;
            gap: 0
        }
    }
    &_img{
        flex: 1 1;
        img{
           width: 100%;
        }
    }

    @include media(1650px) {
        padding: 0 $smallPadding 0 0;
    }
    @include media(1500px) {
        padding: 0 $tabletPadding 0 0;
    }

    @include media(1200px) {
        padding: 0 $mobilePadding 0 0;
    }
    @include media(992px){
        flex-direction: column;
        padding: 0;
    }
}