@import '../mixins.scss';
@import '../variable.scss';

.custom-radio, .custom-checkbox {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    margin: 2px 0 15px;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
  
    p{
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #3D3940;
        margin: 0;
    }
    input {
      position: absolute;
      opacity: 0;
      cursor: pointer; 
      &:checked ~ p{
        color: $primaryColor;
        font-weight: 600;
      }
    }
    &:hover input ~ .checkmark {
        border-color: $primaryColor;
      }
}
.custom-radio{ 
    input {
      &:checked ~ .checkmark{
        border-color: $primaryColor;

        &:after {
        display: block;
      }}
    }
    .checkmark {
      position: absolute;
      top: 5px;
      left: 0;
      height: 16px;
      width: 16px;
      background-color: #fff;
      border: 2px solid #A8A7B3;
      border-radius: 50%;
  
      &:after {
        content: "";
        position: absolute;
        display: none;
        top: 2px;
        left: 2px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: $primaryColor;      
      }
    }
}


.custom-checkbox {
    input {
      &:checked ~ .checkmark{
        border-color: $primaryColor;
        &:after {
        display: block;
      }}
    }
  
    .checkmark {
      position: absolute;
      top: 5px;
      left: 0;
      height: 16px;
      width: 16px;
      background-color: #fff;
      border: 2px solid #A8A7B3;
      border-radius: 4px;

      &:after {
        content: "";
        position: absolute;
        display: none;
        top: 2px;
        left: 2px;
        width: 8px;
        height: 8px;
        border-radius: 4px;
        background: $primaryColor;
      }
    }
}