@import '../mixins.scss';

.footer{
    &__content{
        display: flex;
        justify-content: space-between;
        background: #252340;
        padding: 32px $mainPadding;
        gap: 50px;
        flex-wrap: wrap;
        @include media(1650px) {
            padding: 25px $smallPadding;
        }
        @include media(1500px) {
            padding: 25px $tabletPadding;
        }
        @include media(1200px) {
            padding: 25px $mobilePadding;
        }
    }
    &__item{
        width: calc((100% / 3) - 50px);
        &--title{
            font-weight: 600;
            font-size: 20px;
            line-height: 30px;
            letter-spacing: 0.02em;
            color: #F2D5DB;
            @include media(1500px) {
                font-size: 16px;
                line-height: 24px;
            }
        }
        @include media(1200px) {
            width: 55%;
            &.footer__menu{
                width: 40%;
            }
            &:first-child{
                width: 100%;
            }
            &:last-child{
               display: flex;
               .footer__info{
                    flex: 1 1;
               }
            }
        }
        @include media(992px) {
            width: 100%;
            &:last-child{
                display: block;
            }
        }
    }
    .footer__menu{
        display: flex;
        gap: 40px;
    }
    .footer--desc{
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.02em;
        color: #D3D3D9;
        width: 60%;
        @include media(992px) {
            width: 100%;
        }
    }
    &__signup{
        display: flex;
        align-items: center;
        &--title{
            font-weight: 600;
            font-size: 20px;
            line-height: 30px;
            display: flex;
            align-items: center;
            letter-spacing: 0.02em;
            color: #F2D5DB;
        }
        form{
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            width: 65%;
            max-width: 300px;
            flex-wrap: wrap;
            input{
                width: calc(100% - 65px);
            }
            .mainBtn{
                padding: 0;
            }
        }
       
    }
    &__list{
        list-style: none;
        padding: 0;
    }
    &__link{
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;        
        color: #BEBDC6;
        text-decoration: none;
        margin: 5px 0;
        display: inline-block;
        @include media(1500px) {
            font-size: 16px;
            margin: 2px 0;
        }
    }
    &__info{
        &:first-child{
            margin-bottom: 10%;
        }
        &--title{
            font-weight: 600;
            font-size: 20px;
            line-height: 30px;
            letter-spacing: 0.02em;
            color: #F2D5DB;
        }
        &--icon{
            font-weight: 350;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.02em;
            color: #fff;
            display: flex;
            align-items: center;
            gap: 10px;
            max-width: 70%;
        }
        @include media(1500px) {
            .footer__info--title, .footer__info--icon{
                font-size: 16px;
                line-height: 24px;
            }
        }
    }
    &__bottom{
        background: #514F66;
        margin: 0;
        padding: 18px $mainPadding;
        @include flex();
        &--info{
            margin: 0;
            font-weight: 350;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.02em;
            color: #FFFFFF;
        }
        &--text{
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #FFFFFF;
            span{  
                color: #A8A7B3;
            }
        }
        &--social{
            display: flex;
            gap: 20px;
            svg{
                path{
                    fill: #fff
                }
            }
        }
        @include media(1650px) {
            padding: 18px $smallPadding;
        }
        @include media(1500px) {
            padding: 18px $tabletPadding;
        }
        @include media(1200px) {
            padding: 18px $mobilePadding;
        }
        @include media(768px) {
            flex-direction: column;
            .footer__bottom--social{
                margin-top: 15px;
            }
        }
    }
   
}