@import '../mixins.scss';
@import '../variable.scss';

.header{
    padding: 0 $mainPadding;
    border-bottom: 1px solid #F2D5DB;
    &__nav{
        @include flex();        
        .categoryBtn{
            display: flex;
            align-items: center;
            gap: 10px;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.02em;
            color: $primaryColor;
            background: transparent;
            border: none;
            min-width: 130px;
            cursor: pointer;
            &.active{
                background: #F4F4F5;
                color: #555158;
                padding: 0 20px;
                &:hover{
                    background: #CECDCF;
                }
            }
            &:hover{
                background: #F9EAED;
            }
        }   
        .searchInput{
            display: flex;
            align-items: center;
            gap: 10px;
            border-bottom: 1px solid #BEBDC6;
            width: 260px;
            img{
                width: 20px;
                height: 20px;
            }
            input{
                height: 40px;
                border: none;
                width: 100%;
                &:focus{
                    outline: none;
                }
            }
        }
    }
    &__logo{
            @include flex();
            gap: 27px;
            img{
                width: 145px;
                height: 61px;
                padding: 5px 0;
                box-sizing: border-box;
            }
            p{
                @include media(768px) {
                    display: none
                } 
            }
    }
    &__menu {
        list-style: none;
        @include flex();
        
      &-link {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #555158;
        padding: 20px 30px;
        text-decoration: none;
      }
      
      &-link.active {
        color: $primaryColor;
        font-weight: 600;
        position: relative;
      }
      
      &-link.active::after {
        content: '';
        position: absolute;
        bottom: -4px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: $primaryColor;
      }
    }
    &__item {
        h4{
            display: none;
        }
    }
    .menu-icon {
        display: none;
    }


    @include media(1650px) {
        padding: 0 $smallPadding;
    }
    @include media(1500px) {
        padding: 0 $tabletPadding;
    }

    @include media(1200px) {
        padding: 0 0 0 $mobilePadding;
        .header__logo{
           img{
            width: 112px;
            height: 47px;
           }
        }
        .header__item{
            position: absolute;
            box-sizing: border-box;
            background: #fff;
            width: 0;
            right: 0;
            top: 80px;
            padding:  0;
            @include flex();
            transition: all 0.3s ease-in;
            overflow: hidden;
            h4{
                display: block
            }
            &.active{
                width: 320px;
                padding: 20px 20px 0;
            }
        }

        .menu-icon {
            @include flex();
            gap: 10px;
            cursor: pointer;
            background-color: $primaryColor;
            padding: 0 10px;
            .close-icon{
                path{
                    fill:#fff
                }
            }  
            &.active{
                background: linear-gradient(90deg, #CF445E 0%, #7C104A 99.89%);
            }
            p{
                font-weight: 700;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.02em;
                color: #FFFFFF;
                @include media(768px){
                    display: none;
                }
            }
        }
        .nav__element {
            position: absolute;
            right: 0;
            top: 100px;
            width: 0;
            height: calc(100vh - 60px);
            transition: all 0.3s ease-in;
            overflow: hidden;
            background: #fff;
            &.active {
                width: 320px;
            }
            .header__menu{
                display: flex;
                flex-direction: column;
                padding: 20px;
            }
            .header__menu-item {
                margin-right: unset;
                width: 100%;
                text-align: center;
                margin: 20px 0;
            }
            .header__menu-link{
                display: inline-block;
                width: 100%;
                padding: 0;
                &.active::after{
                    bottom: -15px;
                }
            }
        }
        .searchInput{
            width: calc(100% - 500px);
        }
    }

    @include media(768px){
        padding: 0;
        .header__logo{
            gap:2px;
            a{
                order: 1;
                img{
                    width: 76px;
                    height: 31px;
                    padding: 0;
                }
            }
            .categoryBtn{
                order: 0;
                min-width: 40px;
                height: 50px;
                padding: 10px;
            }
           
         }
         .header__item{
            top: 55px;
         }
        .menu-icon{
            height: 50px;
            &.active{
                background: #F4F4F5;
            }
            .close-icon{
                path{
                    fill:#555158
                }
            }  
        }
        .searchInput{
            width: auto;
            margin: 0 10px;
            input{

            }

        }
       
    }
    @include media(567px){
        .searchInput{
            width: 35px;
            margin-left: auto;
            transition: all 0.3s ease-in;
            &.active{
                width: calc(100% - 200px);
                margin-left: 1%;
            }
        }
        .header__item.active, .nav__element.active{
            width: 100%;
        }
    }

}