
@import '../mixins.scss';
@import '../variable.scss';

.language-switcher {
    position: relative;
    display: inline-block;
  }
  
  .language-dropdown-button {
    background-color: transparent;
    border: none;
    color: #333;
    cursor: pointer;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #0C0710;
    text-transform: uppercase;
    @include flex();
    gap: 10px;
  }
  
  .language-dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    z-index: 99;
  }
  
  .language-dropdown-item {
    background-color: #fff;
    border: none;
    color: #333;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 8px 16px;
    transition: background-color 0.2s ease;
  
    &:hover,
    &:focus {
      background-color: #f2f2f2;
    }
  
    &.active {
      background-color: $primaryColorOpocity;
      color: #fff;
  
      &:hover,
      &:focus {
        background-color: $primaryColorOpocity;
      }
    }
  }
  
  .fa-chevron-down,
  .fa-chevron-up {
    margin-left: 8px;
  }