@mixin media($point) {
    @media (max-width: $point) {
      @content;
    }
}
@mixin media-min($point) {
  @media (min-width: $point) {
    @content;
  }
}
@mixin flex(){
  display: flex;
  justify-content: space-between;
  align-items: center;
}