@import './mixins.scss';
@import './variable.scss';

.products{
    background: #FAFAFB;
    &__header{
        padding: 50px 20% 160px ;
        background-image: url('/images/aboutUsBg.png');
        background-repeat: no-repeat;
        background-position: top center;
        &--title{
            font-weight: 700;
            font-size: 40px;
            line-height: 56px;
            text-align: center;
            letter-spacing: 0.02em;
            color: #FFFFFF;

            @include media(1024px){
                font-size: 32px;
                line-height: 48px;  
            }
        }
        &--desc{
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            letter-spacing: 0.02em;
            color: #FFFFFF;
             @include media(1024px){
                font-size: 14px;
                line-height: 20px;
            }
        }
        @include media(992px) {
            padding: 5%;
        }
      

    }
    &__content{
        padding:0 $mainPadding 100px;
        display: flex;
        gap: 24px;
        &--filter{
            width: 220px;
            &-head{
                @include flex();
                margin-bottom: 10px;
                h4{
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 32px;
                    letter-spacing: 0.02em;
                    color: #252340;
                    margin: 0;
                }
                button{
                    background: transparent;
                    border: none;
                }
            }
            &-category{
                padding: 16px 0;
                &:not(:last-child){
                    border-bottom: 1px solid #D3D3D9;
                }
                p{
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: 0.02em;
                    color: #252340;
                    margin: 0 0 16px;
                }
            }
            @include media(1024px){
                position: absolute;
                top: 0;
                left: -256px;
                background: #F4F4F5;
                border-radius: 0px 8px 8px 0px; 
                padding: 21px 16px;
                z-index: 99;
                transition: all 3 ease-in;

                &.active{
                    left: 0;
                }
            }
        }

        @include media(1650px) {
            padding: 0 $smallPadding 100px;
        }
        @include media(1500px) {
            padding: 0 $tabletPadding 100px;
        }
        @include media(1200px) {
            padding: 0 $mobilePadding 100px;
        }
        @include media(1200px) {
            padding: 0 16px 100px;
        }
    }
    &__list{
        width: 80%;
        &--items{
            display: flex;
            flex-wrap: wrap;
            gap: 24px 20px;
            .product{
                width: calc((100% / 3) - 14px);
                .mainBtn{
                    flex-direction: row-reverse;
                }
                @include media(768px) {
                    width: calc((100% / 2) - 14px);
                }
                @include media(576px) {
                    width: 100%;
                }
            }
        }
        @include media(1024px){
            width: 100%;
        }
        &--openFiler{
            display: none;
            width: 100%;            
            background: #E7E6E7;
            border-radius: 2px;
            align-items: center;
            justify-content: center;
            letter-spacing: 0.02em;
            color: #555158;
            border: none;
            padding: 12px;
            margin-bottom: 24px;
            gap:16px;
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            @include media(1024px){
                display: flex
            }
        }
    }
    &__info{
        @include flex();
        p{
            font-weight: 600;
            font-size: 20px;
            line-height: 30px;
            letter-spacing: 0.02em;
            color: #252340;
            margin: 0 0 24px;
        }
    }
    @include media(1024px){
        position: relative;
    }
}

.productPage{
   background: #FAFAFB;
    &__info{
        padding: 2% $mainPadding;
        display: flex;
        gap: 5%;

        @include media(1650px) {
            padding: 0 $smallPadding;
        }
        @include media(1500px) {
            padding: 0 $tabletPadding;
        }
        @include media(1300px) {
            gap: 24px;
        }

        @include media(1200px) {
            padding: 0 $mobilePadding;
        }
        @include media(992px) {
            padding: 0 16px;
            display: block;
        }
    }
    &__slide{
        width: 50%;
        @include media(1200px) {
            width: 58%;
        }
        @include media(992px) {
            width: 100%;
        }
    }
    &__details{
        width: 40%;
        .product__status {
            position: static;
            display: inline-block;
            margin-top: 0;

        }
        &--title{
            font-weight: 700;
            font-size: 32px;
            line-height: 48px;
            letter-spacing: 0.02em;
            color: #0C0710;
            margin-top: 0;
            @include media(1200px){
                font-size: 24px;
                line-height: 32px
            }
        }
        &--quantity{
            border-top: 1px solid #E0E0E0;
            border-bottom: 1px solid #E0E0E0;
            @include flex();
            padding: 16px 0;
            p{
                font-weight: 350;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.02em;
                color: #3D3940;
                margin: 0;
                span{
                    color: $primaryColor;
                }
            }
    
        }
       
        &-size-color{
            display: flex;
            gap: 32px;
            padding: 16px 0;
            &>div{
                width: 49%;
                $color: blue;
                position: relative;

                .css-13cymwt-control{
                    border: none;
                    border-bottom: 1px solid#BEBDC6;
                    background: transparent;
                    border-radius: 0;
                }
                .css-t3ipsp-control{
                    box-shadow: none;
                    border-width:0 0 1px 0;
                    border-radius: 0;
                    background: none;
                }
                .css-1u9des2-indicatorSeparator{
                    display: none;
                }
                .colorSelect .css-1fdsijx-ValueContainer{
                    padding-left: 25px;
                }
                .selectedColor{
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    position: absolute;
                    left: 6px;
                    top: 11px;
                }
                .css-mohuvp-dummyInput-DummyInput{
                    &:focus{
                        outline: none;
                    }
                }
                .css-1xc3v61-indicatorContainer{
                   
                    svg{
                        background: #BEBDC6;
                        border-radius: 50%;
                        width: 16px;
                        height: 16px;
                        path{
                            fill:#fff
                        }
                    }
                }
            }
        }
        &-price{
            @include flex();
            padding: 16px 0;
            h4, p{
                font-weight: 600;
                font-size: 24px;
                line-height: 32px;
                letter-spacing: 0.02em;
                color: #666579;
                margin: 0;
            }
            p{
                color: #0C0710;
            }
        }
        .mainBtn{
            width: 100%;
            justify-content: center;
        }
        .accordion{
            border-bottom: 1px solid #BEBDC6;
            &-header{
                font-weight: 600;
                font-size: 20px;
                line-height: 30px;
                display: flex;
                align-items: center;
                letter-spacing: 0.02em;
                color: #3D3940;
                background: transparent;
                border: none;
                justify-content: space-between;
                width: 100%;
                padding: 16px 0;
                cursor: pointer;
            }
            &-content{
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.02em;
                color: #3D3940;
                p{
                    margin-top: 0;
                    margin-bottom: 16px;
                }
            }
            &.active{
                border-bottom: 1px solid $primaryColor;
                .accordion-header{
                    color: $primaryColor;
                }
            }
        }
        @include media(1200px) {
            width: 40%;
        }
        @include media(992px) {
            width: 100%;
            margin-top: 50px;
        }
        
    }
    &__category{
        padding: 0 $mainPadding;
        margin-top: 5%;
        &--head{
            @include flex();
        }
        &--title{
            font-weight: 700;
            font-size: 32px;
            line-height: 48px;
            letter-spacing: 0.02em;
            color: #3B3953;
            margin: 0;
           
            @include media(1200px){
                font-size: 24px;
                line-height: 32px;
            }
        }
        .categories{
            position: static;
            padding: 0;
            background: transparent;
            box-shadow: none;
        }
        @include media(1650px) {
            padding: 0 $smallPadding;
        }
        @include media(1500px) {
            padding: 0 $tabletPadding;
        }
    
        @include media(1200px) {
            padding: 0 $mobilePadding;
        }
        @include media(992px) {
            padding: 0 16px;
        }
    }

    &__tab{
        padding: 32px $mainPadding 5%;
        margin-top: 5%;
        background: #fff;
        &--head{
            @include flex();
            margin-bottom: 42px;
        }
        .tab-container{
            .tabs{
                display: flex;
                align-items: center;
                gap: 32px;
                .tab{
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: 0.02em;
                    color: #555158;
                    padding-bottom: 24px;
                    cursor: pointer;
                    &.active{
                        color: #CF445E;
                        border-bottom: 3px solid #CF445E;
                    }
                }
            }
            .tab-content{
                margin-top: 32px;
            }
        }

        @include media(1650px) {
            padding: 32px $smallPadding 5%;
        }
        @include media(1500px) {
            padding: 32px $tabletPadding 5%;
        }
        @include media(1200px) {
            padding: 32px $mobilePadding 20%;
        }
    }
   
}

.slick-slider{
    &.mainSlider{
        img{
            width: 816px;
            height: 608px;  
            @include media(768px){
                height: 400px;
            }     
        }
    }
    &.asForNavSlider{
        margin-top: 24px;
        .slick-slide:not(.slick-cloned):not(.slick-current){
           padding-left: 24px;
        }
        img{
            width: 256px;
            height: 168px;  
            @include media(768px){
                height: 140px;
            }  
        }
        .slick-arrow{
            top:41%;
            z-index: 9;
            &.slick-next, &.slick-prev{
                &:before{
                    content: '';
                    position: absolute;
                    width: 36px;
                    height: 36px;
                    opacity: 1;
                }
            }
            &.slick-next{
                right: 0;
                &:before{
                    content: '';
                    background-image: url('icons/sliderArrowNext.svg');
                }
                @include media(576px){
                    right: 5%;
                }  
            }
            &.slick-prev{
                left: -32px;
                &:before{
                    content: '';
                    background-image: url('icons/sliderArrowPrev.svg');
                }
                @include media(576px){
                    left: -8%;
                }
            }
        }
    }
}