$primaryColor: #CF445E;
$primaryColorOpocity: #ECC1C9;
$textColor: #3D3940;
$largePadding: 27%;
$bigPadding: 20%;
$mainPadding: 260px;
$smallPadding: 150px;
$tabletPadding: 95px;
$mobilePadding: 32px;